<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Заголовок страницы по умолчанию{% endblock %}</title>
    {% block links %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css\bootstrap.min.css' %}">
</head>
<body>
{% load static %}
<div class="container bg-white">
    <div class="row d-flex justify-content-center">
        {% include 'inc/_header.html' %}
        {% block content %}Контент по умолчанию{% endblock %}
        {% include 'inc/_footer.html' %}
    </div>
</div>

{% block scripts %}{% endblock %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>